<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_homepage') }}">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">Menu</span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_product_index') }}">Liste des produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_product_create') }}">Créer un produit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_user_list') }}">Liste des Utilisateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('category_index') }}">Liste des Catégories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_tags') }}">Liste des Tags</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_tag_create') }}">Créer un Tag</a>
                </li>


            </ul>
            <ul>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Créer un compte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                </li>

                {% endif %}

            </ul>
        </div>
    </div>
</nav>